<% layout('layouts/boilerplate.ejs') %> <% var randomImg = Math.floor(Math.random() * campgrounds.length) %>

<header class="banner" style="background-image: url('<%= campgrounds[randomImg].image %>')">
  <div class="banner__contents">
    <div class="banner__title text-wrap">
      <h1 class="text-wrap"><%= campgrounds[randomImg].title %></h1>
    </div>
    <div class="banner__buttons">
      <a href="/campgrounds/<%= campgrounds[randomImg]._id %> " class="btn btn-success">View Campground </a>
    </div>
  </div>
</header>
<div>
  <h1 class="text-center text-light" style="color: 'white'; font-family: 'Shadows Into Light', cursive; border-bottom: 1px dotted white">
    Campgrounds
  </h1>
</div>
<div>
  <% for(let x = 0; x < campgrounds.length; x++) { %> <% if(x === 0){ %>
  <div class="cmp__row">
    <div class="cmp__col mt-4 mt-5">
      <div class="card main__card">
        <img src="<%- campgrounds[x]["image"] %>" alt="<%- campgrounds[x]["title"]; %>" class="card-img-top card__img">
          <div class="card-body card__body" style="background: url('<%= campgrounds[x].image %>')">
            <div class="overlay">
              <div class="card-title mainCard__title">
                <h1 class="text-center display-6 text-wrap text-break text-white
                "><%- campgrounds[x]["title"].toUpperCase(); %></h1>
                <p class="text-dark text-center smol__p"><%- campgrounds[x]['location'] %></p>
                <a href="/campgrounds/<%= campgrounds[x]._id %>" class="btn btn-primary text-center"
                  >More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% if(x % 3 !== 0 && x !== 0) { %>
      <div class="cmp__col mt-4 mt-5">
        <div class="card main__card">
          <img src="<%- campgrounds[x]["image"] %>" alt="<%- campgrounds[x]["title"]; %>" class="card-img-top card__img">
          <div class="card-body card__body" style="background: url('<%= campgrounds[x].image %>')">
            <div class="overlay">
              <div class="card-title mainCard__title">
                <h1 class="text-center display-6 text-wrap text-break text-white
                "><%- campgrounds[x]["title"].toUpperCase(); %></h1>
                <p class="text-dark text-center smol__p"><%- campgrounds[x]['location'] %></p>
                <a href="/campgrounds/<%= campgrounds[x]._id %>" class="btn btn-primary text-center"
                  >More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% if (x % 3 === 0 && x !== 0) { %>
    </div>
    <div class="cmp__row">
      <div class="cmp__col mt-4 mt-5">
        <div class="card main__card">
          <img src="<%- campgrounds[x]["image"] %>" alt="<%- campgrounds[x]["title"]; %>" class="card-img-top card__img">
          <div class="card-body card__body" style="background: url('<%= campgrounds[x].image %>')">
            <div class="overlay">
              <div class="card-title mainCard__title">
                <h1 class="text-center display-6 text-wrap text-break text-white
                "><%- campgrounds[x]["title"].toUpperCase(); %></h1>
                <p class="text-dark text-center smol__p"><%- campgrounds[x]['location'] %></p>
                <a href="/campgrounds/<%= campgrounds[x]._id %>" class="btn btn-primary text-center"
                  >More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
</div>
